<!-- <label class="stability-selector-options">{{title}}</label>
<mat-radio-group
  aria-labelledby="government-stability"
  class="stability-radio-group"
  [(ngModel)]="politicalStability">
  @for (govtStability of govtStabilities; track govtStability) {
    <mat-radio-button class="stability-selector-radio-button" [value]="govtStability" (change)="select($event)">{{govtStability}}</mat-radio-button>
  }
</mat-radio-group> -->

<p><strong>{{title}}</strong></p>

<div class="radioOptionsContainer">
@for (govtStability of govtStabilities; track govtStability) {
  <div class="radioOption">
    <label><input type="radio" class="stability-selector-radio-button" name="{{group}}" [value]="govtStability" (change)="selectStability($event)">{{govtStability}}</label>
  </div>
}
</div>