<div *ngIf="showHide['intro']" id="intro">
    <h2>Takeover</h2>
    <p>
        In this game you attempt to take over the government headed by the evil president Xerxes.
    </p>
    <p>
        The game is played on a city map which features streets and buildings.
    </p>
    <p>
        You are the rebel forces and the government is played by the computer (me).
    </p>
    <p>
        Points are gained by capturing key buildings and the first player to reach 35 points is the winner.
    </p>

    <button (click)="nextPage('howToPlay')">Next</button>  

</div>

<div *ngIf="showHide['howToPlay']" id="howToPlay">
    <h3>How to play</h3>
    <p>
        You and I each take alternate turns, and each turn consists of four consecutive moves.
    </p>
    <p>
    At each move you may either:
    </p>
    <ol>
        <li>Try to take over a building square.<br />
            Each building has a traditional political leaning, loyalty and pro/anti government bias, but this will change as the game progresses according to your popularity.<br />
            The more popular you are, the better the chance of a building coming over to your side.
        </li>
        <li>Try to take over a street square.<br />
            This will also help you to take over buildings at a later date.<br />
            It will also help stop government forces from advancing too far.
        </li>
    </ol>
    <p>
        If an attempt to take a building or street square is unsuccesfull, then your turn is over!
    </p>

    <button (click)="nextPage('intro')" >Back</button>  
    <button (click)="nextPage('theMap')" >Next</button>  

</div>

<div *ngIf="showHide['theMap']" id="theMap">
    <h3>The Map</h3>
    <p>
        Taking over a street square is only possible if you already own more surrounding squares (up to 8 buildings or streets) than the opposing colour.
    </p>
    <p>
        Grey neutral squares do not count. The more squares you occupy surrounding a building, the more chance you have of overcoming resisitance in a building.
    </p>
    <p>
        Some buildings are particularly important since they can alter the course of the game if you occupy them. These include:
    </p>
    <ul>
        <li>The radio station</li>
        <li>The Newspaper Office</li>
        <li>The Cathedral</li>
        <li>The Bank</li>
        <li>The Hospital</li>
        <li>The Airport</li>
        <li>Xerxes' Palace</li>
    </ul>
    <p>
        The radio station, newspaper office and cathedral are the most important buildings to hold, but you will probably never manage to capture Xerxes' Palace!
    </p>

    <button (click)="nextPage('howToPlay')" >Back</button>  
    <button (click)="nextPage('scenarios')" >Next</button>  

</div>

<div *ngIf="showHide['scenarios']" id="scenarios">
    <h3>Scenarios</h3>
    <p>Each game will be a different scenario.</p>

    <p>Not only will the city map be changed, you can choose whether you wish to be left or right wing. Remember that allegiances of each building will be different.</p>

    <p>It all depends on your political colour as well as the Government's politics and strength.</p>

    <p>Watch out. The Government will play a mean game! No one likes to suffer a Takeover.....</p>

    <button (click)="nextPage('theMap')" >Back</button>  
    <button (click)="nextPage('pickASide')" >Next</button> 
</div>

<div *ngIf="showHide['pickASide']" id="pickASide">
    <h3>Pick your side</h3>
    <p>So first of all, define the scenario...</p>

    <political-selector [title]="'And what sort of rebel group do you represent?'" (change)="registerUserPoliticalSelection($event)"></political-selector>

    <political-selector [title]="'What sort of government are you trying to overthrow?'" (change)="registerGovtPoliticalSelection($event)"></political-selector>

    <stability-selector [title]="'Is President Xerxes\' government:'" (change)="registerGovtStabilitySelection($event)"></stability-selector>

    <button (click)="nextPage('scenarios')" >Back</button>  
    <button (click)="nextPage('confirmation')" >Next</button> 
</div>

<div *ngIf="showHide['confirmation']" id="confirmation">
    <h3>Confirmation</h3>
    <p>So, you represent a {{user!.getPoliticalType()}} group attempting to overthrow a {{govt!.getPoliticalType()}} government headed by President Xerxes.

    <p>Because you are more to the {{user!.position.description}} than the government, your forces will be {{user!.position.colourName}} and the government will be {{govt!.position.colourName}}.</p>

    <p>Is this correct?</p>

    <button (click)="nextPage('pickASide')" >No</button>  
    <button (click)="nextPage('summary')" >Yes</button> 
</div>

<div *ngIf="showHide['summary']" id="summary">
    <h3>The targets</h3>
    <p>At the start of the game, will any of the following buildings join the rebels?</p>
    <p>(Make a note of the likely targets!)</p>

    <ul>
        <li *ngFor="let building of buildings.buildings">The {{building.name}} {{building.mood}}</li>
    </ul>
    <button (click)="nextPage('game')" >Start</button> 
</div>

<div *ngIf="showHide['game']" id ="game">
    <app-game-map (movesChange)="changeValues($event)" [user]="user" [govt]="govt"></app-game-map>
    <app-game-messagebox [message]="message"></app-game-messagebox>
    <app-game-score [userScore]="user.score" [govtScore]="govt.score"></app-game-score>
    <app-game-popularity [userPopularity]="user.popularity" [govtPopularity]="govt.popularity"></app-game-popularity>
    <app-game-remaining-moves [remainingMoves]="remainingMoves"></app-game-remaining-moves>
</div>