section {
  display: table;
  border-collapse:separate;
  /*border-spacing:5px;*/
}

header,
.line-break,
.row {
  display: table-row;
}

.cell {
  display: table-cell;
}

.street {
  width: 50px;
  height: 50px;
}
    .street.neutral {
        background-color: #ccc;
    }

.building {
    height:130px;
    border: 1px solid Blue;
    margin: 0 auto;
    margin-top: 56px;
    border-radius: 25px;
    box-sizing: border-box;
    /*box-shadow: -8px 9px 16px -3px gray;*/
    box-shadow: 8px 9px 16px -3px gray;
    background: #171314; 
    position: relative;
}
    .building-background {
        margin: 2px 2px 0 2px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        /* background-image: url(https://image.ibb.co/e1XKAS/green_background.jpg);
        background-repeat: no-repeat;
        background-size: cover; */
        /*display: flex;*/
        /*background-color: #bbb;*/
        background-color: White;
        z-index: 0;
        height: 124px;
        font-family: "DM Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }

        .building img {
            position: relative;
            top: -20px;
        }

        .building .building-name {
            margin: -25px 10px 5px 10px;
            align-self: baseline;
            font-weight: 400;
            font-size: 0.7em;
            text-align: center;
        }

        .building .building-name p {
            margin: 0px;
        }

        .building .building-points {
            text-align: center;
            font-size: 1.1em;
        }

            .building .building-points p {
                margin: 0px;
            }
