
<section id="map">
    <div id="roadsContainer">
        <div class="row">
            <div class="cell street neutral road0_0" data-row="0" data-col="0"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road0_1" data-row="0" data-col="1"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road0_2" data-row="0" data-col="2"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road0_3" data-row="0" data-col="3"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road0_4" data-row="0" data-col="4"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road0_5" data-row="0" data-col="5"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road0_6" data-row="0" data-col="6"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road0_7" data-row="0" data-col="7"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road0_8" data-row="0" data-col="8"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road0_9" data-row="0" data-col="9"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road0_10" data-row="0" data-col="10"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
        </div>
        <div class="row">
            <div class="cell street neutral road1_0" data-row="1" data-col="0"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell building neutral" data-row="1" data-col="1"></div>
            <div class="cell street neutral road1_2" data-row="1" data-col="2"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell building neutral" data-row="1" data-col="3"></div> 
            <div class="cell street neutral road1_4" data-row="1" data-col="4"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell building neutral" data-row="1" data-col="5"></div>
            <div class="cell street neutral road1_6" data-row="1" data-col="6"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell building neutral" data-row="1" data-col="7"></div>
            <div class="cell street neutral road1_8" data-row="1" data-col="8"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell building neutral" data-row="1" data-col="9"></div>
            <div class="cell street neutral road1_10" data-row="1" data-col="10"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
        </div>
        <div class="row">
            <div class="cell street neutral road2_0" data-row="2" data-col="0"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road2_1" data-row="2" data-col="1"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road2_2" data-row="2" data-col="2"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road2_3" data-row="2" data-col="3"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road2_4" data-row="2" data-col="4"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road2_5" data-row="2" data-col="5"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road2_6" data-row="2" data-col="6"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road2_7" data-row="2" data-col="7"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road2_8" data-row="2" data-col="8"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road2_9" data-row="2" data-col="9"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road2_10" data-row="2" data-col="10"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
        </div>
        <div class="row">
            <div class="cell street neutral road3_0" data-row="3" data-col="0"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell building neutral" data-row="3" data-col="1"></div>
            <div class="cell street neutral road3_2" data-row="3" data-col="2"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell building neutral" data-row="3" data-col="3"></div> 
            <div class="cell street neutral road3_4" data-row="3" data-col="4"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell building neutral" data-row="3" data-col="5"></div>
            <div class="cell street neutral road3_6" data-row="3" data-col="6"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell building neutral" data-row="3" data-col="7"></div>
            <div class="cell street neutral road3_8" data-row="3" data-col="8"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell building neutral" data-row="3" data-col="9"></div>
            <div class="cell street neutral road3_10" data-row="3" data-col="10"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
        </div>
        <div class="row">
            <div class="cell street neutral road4_0" data-row="4" data-col="0"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road4_1" data-row="4" data-col="1"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road4_2" data-row="4" data-col="2"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road4_3" data-row="4" data-col="3"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road4_4" data-row="4" data-col="4"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road4_5" data-row="4" data-col="5"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road4_6" data-row="4" data-col="6"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road4_7" data-row="4" data-col="7"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road4_8" data-row="4" data-col="8"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road4_9" data-row="4" data-col="9"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road4_10" data-row="4" data-col="10"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
        </div>
        <div class="row">
            <div class="cell street neutral road5_0" data-row="5" data-col="0"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell building neutral" data-row="5" data-col="1"></div>
            <div class="cell street neutral road5_2" data-row="5" data-col="2"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell building neutral" data-row="5" data-col="3"></div> 
            <div class="cell street neutral road5_4" data-row="5" data-col="4"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell building neutral" data-row="5" data-col="5"></div>
            <div class="cell street neutral road5_6" data-row="5" data-col="6"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell building neutral" data-row="5" data-col="7"></div>
            <div class="cell street neutral road5_8" data-row="5" data-col="8"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell building neutral" data-row="5" data-col="9"></div>
            <div class="cell street neutral road5_10" data-row="5" data-col="10"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
        </div>
        <div class="row">
            <div class="cell street neutral road6_0" data-row="6" data-col="0"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road6_1" data-row="6" data-col="1"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road6_2" data-row="6" data-col="2"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road6_3" data-row="6" data-col="3"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road6_4" data-row="6" data-col="4"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road6_5" data-row="6" data-col="5"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road6_6" data-row="6" data-col="6"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road6_7" data-row="6" data-col="7"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road6_8" data-row="6" data-col="8"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road6_9" data-row="6" data-col="9"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
            <div class="cell street neutral road6_10" data-row="6" data-col="10"><img src="/assets/activate_symbol.png" width="25" height="25" title="Activate this street" /></div>
        </div>
    </div>
</section>